Student_name{
    color:blue;
    font-family: Bodoni MT;
    font-style: italic;
    font-size: 16 pts;
}
Class_name{
    color:green;
    font-family: Arial, Helvetica,
    sans-serif ;
    font-style: normal;
    font-size: 12 pts;
}
percentage{
    color:red;
    font-family: Impact, Charcoal,
    sans-serif;
    font-style: oblique
    ;
    font-size: 14 pts;

}